In [2]:
import yfinance as yf
import pandas as pd

In [3]:
# download bitcoin data
start_date = "2015-01-09"
end_date = "2025-01-10"
tickers = ['XRP-USD', 'ETH-USD', 'SOL-USD', 'BTC-USD']

In [4]:
XRP_USD = yf.download("XRP-USD", start=start_date, end=end_date)
# ETH_USD = yf.download("ETH-USD", start=start_date, end=end_date)
# SOL_USD = yf.download("SOL-USD", start=start_date, end=end_date)
# BTC_USD = yf.download("BTC-USD", start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 completed

In [5]:
# BTC_USD.rename(columns={'Close': 'BTC_Price'}, inplace=True)
# ETH_USD.rename(columns={'Close': 'ETH_Price'}, inplace=True)
# SOL_USD.rename(columns={'Close': 'SOL_Price'}, inplace=True)
XRP_USD.rename(columns={'Close': 'XRP_Price'}, inplace=True)

Price        BTC_Price
Ticker         BTC-USD
Date
2015-01-09  290.407990
2015-01-10  274.795990
2015-01-11  265.660004
2015-01-12  267.795990
2015-01-13  225.860992

In [6]:
# BTC_USD.columns = BTC_USD.columns.droplevel(1)
# ETH_USD.columns = ETH_USD.columns.droplevel(1)
# SOL_USD.columns = SOL_USD.columns.droplevel(1)
XRP_USD.columns = XRP_USD.columns.droplevel(1)

In [27]:
ETH_USD.head()

Price        ETH_Price
Date
2017-11-09  320.884003
2017-11-10  299.252991
2017-11-11  314.681000
2017-11-12  307.907990
2017-11-13  316.716003

In [7]:
# ETH_USD = ETH_USD.drop(columns=['High', 'Low', 'Open', 'Volume'])
# SOL_USD = SOL_USD.drop(columns=['High', 'Low', 'Open', 'Volume'])
XRP_USD = XRP_USD.drop(columns=['High', 'Low', 'Open', 'Volume'])

In [8]:
# save all in csv format
# BTC_USD.to_csv("BTC_USD.csv", index=True)
# ETH_USD.to_csv("ETH_USD.csv", index=True)
# SOL_USD.to_csv("SOL_USD.csv", index=True)
XRP_USD.to_csv("XRP_USD.csv", index=True)