In [1]:
import pandas as pd

In [5]:
Dollar_Index = pd.read_csv("../Datasetsv2/preprocessed/Dollar_Index_Preprocessed.csv")
Gold = pd.read_csv("../Datasetsv2/preprocessed/Gold_Preprocessed.csv")
Interest_Rate = pd.read_csv("../Datasetsv2/preprocessed/Interest_Rate_Preprocessed.csv")
US_10_Year = pd.read_csv("../Datasetsv2/preprocessed/US_10_Year_Preprocessed.csv")
VIX_Data = pd.read_csv("../Datasetsv2/preprocessed/VIX_Data_Preprocessed.csv")

In [10]:
VIX_Data.head()

         Date  VIX_Value
0  2015-01-09      17.55
1  2015-01-10      17.55
2  2015-01-11      17.55
3  2015-01-12      19.60
4  2015-01-13      20.56

In [11]:
Exogenous_Variables = Dollar_Index.merge(Gold, on="Date", how="outer") \
                        .merge(Interest_Rate, on="Date", how="outer") \
                        .merge(US_10_Year, on="Date", how="outer") \
                        .merge(VIX_Data, on="Date", how="outer")

In [12]:
Exogenous_Variables

,Date,Dollar_Index,Gold_Price,Interest_Rate,US_10_Year,VIX_Value
0,2015-01-09,91.940002,1211.2500,0.12,1.950,17.55
1,2015-01-10,91.940002,1211.2500,0.12,1.950,17.55
2,2015-01-11,91.940002,1211.2500,0.12,1.950,17.55
3,2015-01-12,91.980003,1222.0000,0.12,1.909,19.60
4,2015-01-13,92.309998,1239.0000,0.12,1.905,20.56
...,...,...,...,...,...,...
3649,2025-01-05,108.949997,2640.1664,4.33,4.601,16.13
3650,2025-01-06,108.260002,2635.8796,4.33,4.623,16.04
3651,2025-01-07,108.540001,2648.7119,4.33,4.684,17.82
3652,2025-01-08,109.089996,2661.5352,4.33,4.692,17.70
3653,2025-01-09,109.180000,2669.9489,4.33,4.688,18.07

In [13]:
# Set 'date' as index
Exogenous_Variables.set_index("Date", inplace=True)

In [14]:
# Save the merged dataset
Exogenous_Variables.to_csv("../Datasetsv2/Exogenous/Exogenous_Variables.csv")