In [3]:
import torch
import pandas as pd
import numpy as np
from pytorch_forecasting import TemporalFusionTransformer, TimeSeriesDataSet
from pytorch_forecasting.data import NaNLabelEncoder
from pytorch_forecasting.metrics import QuantileLoss
from sklearn.preprocessing import MinMaxScaler

In [10]:
BTC_Dataset = pd.read_csv('datasets/BTC-USD.csv')
Gold_Dataset = pd.read_csv('datasets/Gold Price.csv')
Google_Trends_Dataset = pd.read_csv('datasets/google_trends.csv')
Interest_Rate_Dataset = pd.read_csv('datasets/Interest_rate.csv')
VIX_Dataset = pd.read_csv('datasets/vix_historical.csv')

In [7]:
BTC_Dataset.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-08-28,10203.426758,10279.366211,9716.656250,9754.422852,9754.422852,17603790323
1,2019-08-29,9756.786133,9756.786133,9421.629883,9510.200195,9510.200195,17045878501
2,2019-08-30,9514.844727,9656.124023,9428.302734,9598.173828,9598.173828,13595263986
3,2019-08-31,9597.539063,9673.220703,9531.799805,9630.664063,9630.664063,11454806419
4,2019-09-01,9630.592773,9796.755859,9582.944336,9757.970703,9757.970703,11445355859

preprocessing steps
    Fill NaN values
    Drop unwanted Columns
    Convert Data types
    Fill missing dates and value with prev values (if necessary)
    set same date range (if necessary)
    change the date format (if necessary)
    remove dates after 2024-08-28 (if necessary)
    Reverse the order (if necessary)

In [11]:
BTC_Dataset = BTC_Dataset.drop(['Open', 'High', 'Low', 'Adj Close'], axis=1)

In [15]:
BTC_Dataset.tail()

            Date         Close       Volume
1823  2024-08-24  64178.992188  21430585163
1824  2024-08-25  64333.542969  18827683555
1825  2024-08-26  62880.660156  27682040631
1826  2024-08-27  59504.132813  39103882198
1827  2024-08-28  59621.035156  42965946368

In [14]:
total_nan = BTC_Dataset.isna().sum().sum()
print("Total number of NaN values in DataFrame:", total_nan)

Total number of NaN values in DataFrame: 0

In [18]:
print(BTC_Dataset.dtypes)

Date      datetime64[ns]
Close            float64
Volume             int64
dtype: object

In [17]:
# convert date data type
BTC_Dataset['Date'] = pd.to_datetime(BTC_Dataset['Date'])