In [3]:
pip install pandas

Note: you may need to restart the kernel to use updated packages.Collecting pandas
  Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.2.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sathmika\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\sathmika\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
Using cached numpy-2.2.1-cp312-cp312-win_amd64.whl (12.6 MB)
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.1 pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [4]:
pip install numpy

Requirement already satisfied: numpy in c:\users\sathmika\anaconda3\envs\tft\lib\site-packages (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import numpy as np

In [1]:
# data preprocessing
# load datsets

In [107]:
BTC_Dataset = pd.read_csv('Datasetsv2/Bitcoin.csv')
Gold = pd.read_csv('Datasetsv2/gold_prices.csv')
Interst_Rate = pd.read_csv('Datasetsv2/interest_rate.csv')
VIX = pd.read_csv('Datasetsv2/VIX_History.csv')

In [108]:
BTC_Dataset.head()

         Date      Price       Open       High       Low     Vol. Change %
0  01/09/2025   92,539.8   95,066.6   95,323.1  91,241.9  132.78K   -2.66%
1  01/08/2025   95,066.6   96,938.2   97,266.4  92,716.6  100.36K   -1.92%
2  01/07/2025   96,929.8  102,247.9  102,678.2  96,201.3   99.77K   -5.20%
3  01/06/2025  102,248.7   98,373.2  102,474.5  97,932.3   86.73K    3.97%
4  01/05/2025   98,347.7   98,220.1   98,823.1  97,300.0   31.34K    0.13%

In [109]:
missing_BTC = BTC_Dataset.isnull().any().any()
missing_Gold = Gold.isnull().any().any()
missing_Interest_Rate = Interst_Rate.isnull().any().any()
missing_VIX = VIX.isnull().any().any()
print(f"Are there any missing values? {missing_BTC, missing_Gold, missing_Interest_Rate, missing_VIX}")

Are there any missing values? (np.False_, np.True_, np.False_, np.False_)

In [110]:
missing_rows = Gold[Gold.isnull().any(axis=1)]
print(missing_rows)

           date   value
3328  1/11/2025     NaN
3329  1/12/2025     NaN
3330  1/13/2025     NaN
3331  1/14/2025     NaN
3332  1/15/2025     NaN
3333  1/16/2025     NaN
3334  1/17/2025     NaN
3335  1/18/2025     NaN
3336  1/19/2025     NaN
3337  1/20/2025     NaN
3338  1/21/2025     NaN
3339  1/22/2025     NaN
3340  1/23/2025     NaN
3341  1/24/2025     NaN
3342  1/25/2025     NaN
3343  1/26/2025     NaN
3344  1/27/2025     NaN
3345  1/28/2025     NaN
3346  1/29/2025     NaN
3347  1/30/2025     NaN
3348  1/31/2025     NaN

In [111]:
# drop missing values
Gold = Gold.dropna()

In [112]:
missing_BTC = BTC_Dataset.isnull().any().any()
missing_Gold = Gold.isnull().any().any()
missing_Interest_Rate = Interst_Rate.isnull().any().any()
missing_VIX = VIX.isnull().any().any()
print(f"Are there any missing values? {missing_BTC, missing_Gold, missing_Interest_Rate, missing_VIX}")

Are there any missing values? (np.False_, np.False_, np.False_, np.False_)

In [113]:
# Drop columns
BTC_Dataset = BTC_Dataset.drop(columns=['Open', 'High', 'Low', 'Change %', 'Vol.'])
VIX = VIX.drop(columns=['OPEN', 'HIGH', 'LOW'])

In [114]:
# convert data types
BTC_Dataset['Date'] = pd.to_datetime(BTC_Dataset['Date'])
Gold['Date'] = pd.to_datetime(Gold['date'])
Interst_Rate['Date'] = pd.to_datetime(Interst_Rate['observation_date'])
VIX['Date'] = pd.to_datetime(VIX['DATE'])

In [ ]:
Gold = Gold.drop(columns=['date'])
Interst_Rate = Interst_Rate.drop(columns=['observation_date'])
VIX = VIX.drop(columns=['DATE'])

In [120]:
VIX.head()

            CLOSE
1990-01-02  17.24
1990-01-03  18.19
1990-01-04  19.22
1990-01-05  20.11
1990-01-06    NaN

In [105]:
# remove unwanted dates
start_date = '1990-01-02'
end_date = '2015-01-09'

VIX = VIX[~VIX['Date'].between(start_date, end_date)]

In [ ]:
# reverse the date order to ensure all datasets in the same order
VIX = VIX.iloc[::-1].reset_index(drop=True)

In [116]:
# Gold.dtypes
# Interst_Rate.head() -> 2015
VIX.head()
# BTC_Dataset.head() -> 2025

   CLOSE       Date
0  17.24 1990-01-02
1  18.19 1990-01-03
2  19.22 1990-01-04
3  20.11 1990-01-05
4  20.26 1990-01-08