In [1]:
pip install yfinance

Collecting yfinanceNote: you may need to restart the kernel to use updated packages.

  Using cached yfinance-0.2.52-py2.py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\sathmika\anaconda3\envs\tft\lib\site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\sathmika\anaconda3\envs\tft\lib\site-packages (from yfinance) (2.2.1)
Requirement already satisfied: requests>=2.31 in c:\users\sathmika\anaconda3\envs\tft\lib\site-packages (from yfinance) (2.32.3)
Collecting multitasking>=0.0.7 (from yfinance)
  Using cached multitasking-0.0.11-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: lxml>=4.9.1 in c:\users\sathmika\anaconda3\envs\tft\lib\site-packages (from yfinance) (5.3.0)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\sathmika\appdata\roaming\python\python312\site-packages (from yfinance) (4.3.6)
Requirement already satisfied: pytz>=2022.5 in c:\users\sathmika\anaconda3\envs\tft\lib\site-packages (from yfinance) (2024.2)
Collecting frozendict>=2.3.4 (from yfinance)
  Using cached frozendict-2.4.6-py312-none-any.whl.metadata (23 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Using cached peewee-3.17.8-py3-none-any.whl
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\sathmika\anaconda3\envs\tft\lib\site-packages (from yfinance) (4.12.3)
Collecting html5lib>=1.1 (from yfinance)
  Using cached html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: soupsieve>1.2 in c:\users\sathmika\anaconda3\envs\tft\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.6)
Requirement already satisfied: six>=1.9 in c:\users\sathmika\appdata\roaming\python\python312\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Collecting webencodings (from html5lib>=1.1->yfinance)
  Downloading webencodings-0.5.1-py2.py3-none-any.whl.metadata (2.1 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sathmika\anaconda3\envs\tft\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sathmika\anaconda3\envs\tft\lib\site-packages (from pandas>=1.3.0->yfinance) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sathmika\anaconda3\envs\tft\lib\site-packages (from requests>=2.31->yfinance) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sathmika\anaconda3\envs\tft\lib\site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sathmika\anaconda3\envs\tft\lib\site-packages (from requests>=2.31->yfinance) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sathmika\anaconda3\envs\tft\lib\site-packages (from requests>=2.31->yfinance) (2024.12.14)
Using cached yfinance-0.2.52-py2.py3-none-any.whl (108 kB)
Using cached frozendict-2.4.6-py312-none-any.whl (16 kB)
Using cached html5lib-1.1-py2.py3-none-any.whl (112 kB)
Using cached multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Downloading webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Installing collected packages: webencodings, peewee, multitasking, html5lib, frozendict, yfinance
Successfully installed frozendict-2.4.6 html5lib-1.1 multitasking-0.0.11 peewee-3.17.8 webencodings-0.5.1 yfinance-0.2.52

In [1]:
import yfinance as yf
import pandas as pd

In [2]:
start_date = "2015-01-09"
end_date = "2025-01-10"
Dollar_Index = yf.download("DX-Y.NYB", start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 completed

In [3]:
Dollar_Index.tail()

Price            Close        High         Low        Open   Volume
Ticker        DX-Y.NYB    DX-Y.NYB    DX-Y.NYB    DX-Y.NYB DX-Y.NYB
Date
2025-01-03  108.949997  109.220001  108.900002  109.199997        0
2025-01-06  108.260002  109.070000  107.750000  108.919998        0
2025-01-07  108.540001  108.699997  107.849998  108.339996        0
2025-01-08  109.089996  109.379997  108.550003  108.620003        0
2025-01-09  109.180000  109.379997  108.940002  109.089996        0

In [4]:
Dollar_Index.columns = Dollar_Index.columns.droplevel(1)

In [5]:
Dollar_Index.to_csv("dollar_index.csv", index=True)

In [6]:
# import saced csv
Dollar_Index = pd.read_csv('Datasetsv2/dollar_index.csv')

In [7]:
Dollar_Index.head()

         Date      Close       High        Low       Open  Volume
0  2015-01-09  91.940002  92.500000  91.900002  92.309998       0
1  2015-01-12  91.980003  92.339996  91.730003  91.879997       0
2  2015-01-13  92.309998  92.430000  91.809998  92.029999       0
3  2015-01-14  92.160004  92.419998  91.610001  92.230003       0
4  2015-01-15  92.349998  92.750000  91.510002  92.160004       0

In [8]:
Dollar_Index_missing = Dollar_Index.isnull().any().any()
print(f"Are there any missing values? {Dollar_Index_missing}")

Are there any missing values? False

In [9]:
Dollar_Index.rename(columns={'Close': 'Dollar_Index'}, inplace=True)

In [10]:
Dollar_Index = Dollar_Index.drop(columns=['High', 'Low', 'Open', 'Volume'])

In [11]:
Dollar_Index.head()

         Date  Dollar_Index
0  2015-01-09     91.940002
1  2015-01-12     91.980003
2  2015-01-13     92.309998
3  2015-01-14     92.160004
4  2015-01-15     92.349998

In [12]:
Dollar_Index.dtypes

Date             object
Dollar_Index    float64
dtype: object

In [13]:
Dollar_Index['Date'] = pd.to_datetime(Dollar_Index['Date'])

In [14]:
Dollar_Index.describe()

                                Date  Dollar_Index
count                           2516   2516.000000
mean   2020-01-09 03:10:00.953895168     98.108124
min              2015-01-09 00:00:00     88.589996
25%              2017-07-11 18:00:00     94.519997
50%              2020-01-09 12:00:00     97.274998
75%              2022-07-11 06:00:00    101.839996
max              2025-01-09 00:00:00    114.110001
std                              NaN      4.923751

In [15]:
Dollar_Index.set_index('Date', inplace=True)

# Create a complete date range from the minimum to maximum date in the dataset
all_dates = pd.date_range(start=Dollar_Index.index.min(), end=Dollar_Index.index.max())

# Reindex the DataFrame to include all dates, filling missing dates with NaN
Dollar_Index = Dollar_Index.reindex(all_dates)

# Forward-fill missing 'Price' values without using 'inplace'
Dollar_Index['Dollar_Index'] = Dollar_Index['Dollar_Index'].ffill()

# Reset the index to make 'Date' a column again
Dollar_Index.reset_index(inplace=True)
Dollar_Index.rename(columns={'index': 'Date'}, inplace=True)

In [16]:
Dollar_Index.tail()

           Date  Dollar_Index
3649 2025-01-05    108.949997
3650 2025-01-06    108.260002
3651 2025-01-07    108.540001
3652 2025-01-08    109.089996
3653 2025-01-09    109.180000

In [17]:
Dollar_Index.to_csv('Datasetsv2/preprocessed/Dollar_Index_Preprocessed.csv', index=False)