In [3]:
import pandas as pd
import numpy as np

In [4]:
Gold = pd.read_csv('Datasetsv2/gold_prices.csv')

In [5]:
missing_Gold = Gold.isnull().any().any()
print(f"Are there any missing values? {missing_Gold}")

Are there any missing values? True

In [6]:
missing_rows = Gold[Gold.isnull().any(axis=1)]
print(missing_rows)

           date   value
3328  1/11/2025     NaN
3329  1/12/2025     NaN
3330  1/13/2025     NaN
3331  1/14/2025     NaN
3332  1/15/2025     NaN
3333  1/16/2025     NaN
3334  1/17/2025     NaN
3335  1/18/2025     NaN
3336  1/19/2025     NaN
3337  1/20/2025     NaN
3338  1/21/2025     NaN
3339  1/22/2025     NaN
3340  1/23/2025     NaN
3341  1/24/2025     NaN
3342  1/25/2025     NaN
3343  1/26/2025     NaN
3344  1/27/2025     NaN
3345  1/28/2025     NaN
3346  1/29/2025     NaN
3347  1/30/2025     NaN
3348  1/31/2025     NaN

In [7]:
# drop missing values
Gold = Gold.dropna()

In [8]:
Gold.rename(columns={'date': 'Date', ' value': 'Gold_Price'}, inplace=True)

In [9]:
Gold['Date'] = pd.to_datetime(Gold['Date'])

In [10]:
print("Columns in Gold DataFrame:", Gold.columns)

Columns in Gold DataFrame: Index(['Date', 'Gold_Price'], dtype='object')

In [11]:
Gold.set_index('Date', inplace=True)

# Create a complete date range from the minimum to maximum date in the dataset
all_dates = pd.date_range(start=Gold.index.min(), end=Gold.index.max())

# Reindex the DataFrame to include all dates, filling missing dates with NaN
Gold = Gold.reindex(all_dates)

# Forward-fill missing 'Price' values without using 'inplace'
Gold['Gold_Price'] = Gold['Gold_Price'].ffill()

# Reset the index to make 'Date' a column again
Gold.reset_index(inplace=True)
Gold.rename(columns={'index': 'Date'}, inplace=True)

In [12]:
# remove unwanted dates
start_date = '2012-01-12'
end_date = '2015-01-08'

Gold = Gold[~Gold['Date'].between(start_date, end_date)]

In [13]:
Gold = Gold.drop(Gold.index[-1])

In [14]:
Gold.describe()

                      Date   Gold_Price
count                 3654  3654.000000
mean   2020-01-09 12:00:00  1607.617008
min    2015-01-09 00:00:00  1049.600000
25%    2017-07-10 06:00:00  1264.725000
50%    2020-01-09 12:00:00  1542.175000
75%    2022-07-10 18:00:00  1875.500000
max    2025-01-09 00:00:00  2785.872300
std                    NaN   395.924680

In [119]:
Gold.to_csv('Datasetsv2/preprocessed/Gold_Preprocessed.csv', index=False)