In [1]:
import pandas as pd

In [4]:
Google_Trends_BTC = pd.read_csv('Datasetsv2/google_trneds_btc.csv')

In [5]:
missing_Google_Trends = Google_Trends_BTC.isnull().any().any()
print(f"Are there any missing values? {missing_Google_Trends}")

Are there any missing values? False

In [6]:
Google_Trends_BTC.head()

     Month  Bitcoin: (Worldwide)
0  2015-01                     4
1  2015-02                     3
2  2015-03                     3
3  2015-04                     3
4  2015-05                     3

In [7]:
Google_Trends_BTC.tail()

       Month  Bitcoin: (Worldwide)
116  2024-09                    22
117  2024-10                    22
118  2024-11                    50
119  2024-12                    44
120  2025-01                    34