In [1]:
import pandas as pd
import numpy as np

In [2]:
Interest_Rate = pd.read_csv('Datasetsv2/interest_rate.csv')

In [3]:
# check for missing values
Interest_Rate_missing = Interest_Rate.isnull().any().any()
print(f"Are there any missing values? {Interest_Rate_missing}")

Are there any missing values? False

In [4]:
Interest_Rate.head()

  observation_date   DFF
0       2015-01-09  0.12
1       2015-01-10  0.12
2       2015-01-11  0.12
3       2015-01-12  0.12
4       2015-01-13  0.12

In [5]:
Interest_Rate.rename(columns={'observation_date': 'Date', 'DFF': 'Interest_Rate'}, inplace=True)

In [6]:
Interest_Rate.head()

         Date  Interest_Rate
0  2015-01-09           0.12
1  2015-01-10           0.12
2  2015-01-11           0.12
3  2015-01-12           0.12
4  2015-01-13           0.12

In [9]:
Interest_Rate.dtypes

Date             datetime64[ns]
Interest_Rate           float64
dtype: object

In [8]:
# convert date to date time format
Interest_Rate['Date'] = pd.to_datetime(Interest_Rate['Date'])

In [11]:
Interest_Rate.describe()

                      Date  Interest_Rate
count                 3654    3654.000000
mean   2020-01-09 12:00:00       1.793404
min    2015-01-09 00:00:00       0.040000
25%    2017-07-10 06:00:00       0.130000
50%    2020-01-09 12:00:00       1.160000
75%    2022-07-10 18:00:00       2.400000
max    2025-01-09 00:00:00       5.330000
std                    NaN       1.871088

In [12]:
Interest_Rate.to_csv('Datasetsv2/preprocessed/Interest_Rate_Preprocessed.csv', index=False)