In [1]:
import pandas as pd

In [2]:
US_10_Year = pd.read_csv('Datasetsv2/US_10_Year_Bond_Yield.csv')

In [3]:
US_10_Year_missing = US_10_Year.isnull().any().any()
print(f"Are there any missing values? {US_10_Year_missing}")

Are there any missing values? False

In [7]:
US_10_Year.head()

         Date  US_10_Year   Open   High    Low Change %
0  01/09/2025       4.688  4.689  4.691  4.642   -0.08%
1  01/08/2025       4.692  4.689  4.730  4.663    0.18%
2  01/07/2025       4.684  4.632  4.699  4.606    1.32%
3  01/06/2025       4.623  4.618  4.644  4.575    0.49%
4  01/03/2025       4.601  4.545  4.604  4.535    0.87%

In [6]:
US_10_Year.rename(columns={'Price': 'US_10_Year'}, inplace=True)

In [9]:
US_10_Year = US_10_Year.drop(columns=['Open', 'High', 'Low', 'Change %'])

In [12]:
US_10_Year.head()

        Date  US_10_Year
0 2025-01-09       4.688
1 2025-01-08       4.692
2 2025-01-07       4.684
3 2025-01-06       4.623
4 2025-01-03       4.601

In [11]:
US_10_Year['Date'] = pd.to_datetime(US_10_Year['Date'])

In [15]:
US_10_Year.describe()

                      Date   US_10_Year
count                 3654  3654.000000
mean   2020-01-09 12:00:00     2.484826
min    2015-01-09 00:00:00     0.512000
25%    2017-07-10 06:00:00     1.728000
50%    2020-01-09 12:00:00     2.323500
75%    2022-07-10 18:00:00     3.141750
max    2025-01-09 00:00:00     4.990000
std                    NaN     1.058378

In [14]:
US_10_Year.set_index('Date', inplace=True)

# Create a complete date range from the minimum to maximum date in the dataset
all_dates = pd.date_range(start=US_10_Year.index.min(), end=US_10_Year.index.max())

# Reindex the DataFrame to include all dates, filling missing dates with NaN
US_10_Year = US_10_Year.reindex(all_dates)

# Forward-fill missing 'Price' values without using 'inplace'
US_10_Year['US_10_Year'] = US_10_Year['US_10_Year'].ffill()

# Reset the index to make 'Date' a column again
US_10_Year.reset_index(inplace=True)
US_10_Year.rename(columns={'index': 'Date'}, inplace=True)

In [16]:
US_10_Year.to_csv('Datasetsv2/preprocessed/US_10_Year_Preprocessed.csv', index=False)