In [2]:
import pandas as pd

In [3]:
gold =pd.read_csv('../datasets/gold.csv') #2015-1-1
index_global_real_economy = pd.read_csv('../datasets/index_global_real_economy.csv') #2015-1-1
interest_rate = pd.read_csv('../datasets/interest_rate.csv') #2015-1-1
NASDAQ = pd.read_csv('../datasets/NASDAQ.csv') #2015-1-2
SP_500 = pd.read_csv('../datasets/S&P_500.csv') #2015-1-2
us_10_year_bond_yield = pd.read_csv('../datasets/US_10_Year_Bond_Yield.csv') #2015-1-1
us_dollar_index = pd.read_csv('../datasets/US_Dollar_Index.csv') #2015-1-2
usdt = pd.read_csv('../datasets/USDT.csv') #2015-1-1
vix = pd.read_csv('../datasets/VIX.csv') #2015-1-2

In [4]:
# crypto datasets
bitcoin = pd.read_csv('../datasets/crypto/bitcoin.csv') #2015-1-1
ethereum = pd.read_csv('../datasets/crypto/ethereum.csv') #2015-08-11
ripple = pd.read_csv('../datasets/crypto/ripple.csv') #2015-1-1

In [5]:
ethereum.tail()

,Start,End,Open,High,Low,Close,Volume,Market Cap
3497,2015-08-15,2015-08-16,1.827870,1.87724,1.570980,1.69244,3.879627e+06,1.028299e+08
3498,2015-08-14,2015-08-15,1.827670,2.26188,1.754750,1.83231,4.904504e+06,1.196403e+08
3499,2015-08-13,2015-08-14,1.217440,1.96507,1.171990,1.82819,2.527863e+06,8.678882e+07
3500,2015-08-12,2015-08-13,1.067860,1.28994,0.883608,1.23767,1.971841e+06,6.682610e+07
3501,2015-08-11,2015-08-12,0.708448,1.13141,0.663235,1.05767,6.406322e+05,4.768204e+07

starting date - 2015-08-15
end date - 2024-08-15

In [6]:
# Define the date range
start_date = '2015-08-15'
end_date = '2024-08-15'

### preprocess exogenous variables - GOLD

In [60]:
gold.tail()

           Date  Gold_Price
3510 2024-08-11     2430.93
3511 2024-08-12     2472.25
3512 2024-08-13     2465.03
3513 2024-08-14     2447.64
3514 2024-08-15     2456.10

In [8]:
# preprocess gold
# drop unwanted columns
gold.drop(columns=['Open', 'High', 'Low', 'Vol.', 'Change %'], inplace=True)

In [9]:
# check for missing values
missing_Gold = gold.isnull().any().any()
print(f"Are there any missing values? {missing_Gold}")

Are there any missing values? False

In [10]:
# rename columns
gold.rename(columns={'Price': 'Gold_Price'}, inplace=True)

In [11]:
# convert data types
gold['Date'] = pd.to_datetime(gold['Date'])
gold['Gold_Price'] = gold['Gold_Price'].str.replace(',', '').astype(float)

In [12]:
# add missing dates between starting date and end date

gold.set_index('Date', inplace=True)

# Create a complete date range from the minimum to maximum date in the dataset
all_dates = pd.date_range(start=gold.index.min(), end=gold.index.max())

# Reindex the DataFrame to include all dates, filling missing dates with NaN
gold = gold.reindex(all_dates)

# Forward-fill missing 'Price' values without using 'inplace'
gold['Gold_Price'] = gold['Gold_Price'].ffill()

# Reset the index to make 'Date' a column again
gold.reset_index(inplace=True)
gold.rename(columns={'index': 'Date'}, inplace=True)

In [ ]:
# remove unwanted dates
gold = gold[(gold['Date'] >= start_date) & (gold['Date'] <= end_date)]

In [14]:
# gold.dtypes
gold.describe()

                      Date   Gold_Price
count                 3289  3289.000000
mean   2020-02-14 00:00:00  1589.350410
min    2015-08-15 00:00:00  1051.740000
25%    2017-11-14 00:00:00  1276.300000
50%    2020-02-14 00:00:00  1570.650000
75%    2022-05-16 00:00:00  1860.160000
max    2024-08-15 00:00:00  2472.250000
std                    NaN   339.629808

### preprocess exogenous variables - index_global_real_economy

In [15]:
index_global_real_economy.head()

  observation_date       IGREA
0       2015-01-01  -76.273874
1       2015-02-01 -105.957350
2       2015-03-01  -99.501895
3       2015-04-01  -96.800799
4       2015-05-01  -96.011768

In [16]:
# check for missing values
missing_index_global_real_economy = index_global_real_economy.isnull().any().any()
print(f"Are there any missing values? {missing_index_global_real_economy}")

Are there any missing values? False

In [17]:
# rename columns
index_global_real_economy.rename(columns={'observation_date': 'Date'}, inplace=True)

In [18]:
# convert data types
index_global_real_economy['Date'] = pd.to_datetime(index_global_real_economy['Date'])

In [19]:
index_global_real_economy.dtypes

Date     datetime64[ns]
IGREA           float64
dtype: object

In [20]:
# add missing dates between starting date and end date

index_global_real_economy.set_index('Date', inplace=True)

# Create a complete date range from the minimum to maximum date in the dataset
all_dates = pd.date_range(start=index_global_real_economy.index.min(), end=index_global_real_economy.index.max())

# Reindex the DataFrame to include all dates, filling missing dates with NaN
index_global_real_economy = index_global_real_economy.reindex(all_dates)

# Forward-fill missing 'Price' values without using 'inplace'
index_global_real_economy['IGREA'] = index_global_real_economy['IGREA'].ffill()

# Reset the index to make 'Date' a column again
index_global_real_economy.reset_index(inplace=True)
index_global_real_economy.rename(columns={'index': 'Date'}, inplace=True)

In [21]:
# remove unwanted dates
index_global_real_economy = index_global_real_economy[(index_global_real_economy['Date'] >= start_date) & (index_global_real_economy['Date'] <= end_date)]

In [22]:
index_global_real_economy.describe()

                      Date        IGREA
count                 3289  3289.000000
mean   2020-02-14 00:00:00   -20.519324
min    2015-08-15 00:00:00  -161.184760
25%    2017-11-14 00:00:00   -52.952918
50%    2020-02-14 00:00:00   -17.313111
75%    2022-05-16 00:00:00     9.709971
max    2024-08-15 00:00:00   110.311220
std                    NaN    51.081279

### preprocess exogenous variables - interest_rate

In [23]:
interest_rate.head()

  observation_date   DFF
0       2015-01-01  0.06
1       2015-01-02  0.12
2       2015-01-03  0.12
3       2015-01-04  0.12
4       2015-01-05  0.12

In [24]:
# check for missing values
missing_interest_rate = interest_rate.isnull().any().any()
print(f"Are there any missing values? {missing_interest_rate}")

Are there any missing values? False

In [25]:
# rename columns
interest_rate.rename(columns={'observation_date': 'Date', 'DFF':'interest_rate'}, inplace=True)

In [26]:
# convert data types
interest_rate['Date'] = pd.to_datetime(interest_rate['Date'])

In [27]:
# add missing dates between starting date and end date

interest_rate.set_index('Date', inplace=True)

# Create a complete date range from the minimum to maximum date in the dataset
all_dates = pd.date_range(start=interest_rate.index.min(), end=interest_rate.index.max())

# Reindex the DataFrame to include all dates, filling missing dates with NaN
interest_rate = interest_rate.reindex(all_dates)

# Forward-fill missing 'Price' values without using 'inplace'
interest_rate['interest_rate'] = interest_rate['interest_rate'].ffill()

# Reset the index to make 'Date' a column again
interest_rate.reset_index(inplace=True)
interest_rate.rename(columns={'index': 'Date'}, inplace=True)

In [28]:
# remove unwanted dates
interest_rate = interest_rate[(interest_rate['Date'] >= start_date) & (interest_rate['Date'] <= end_date)]

In [29]:
interest_rate.describe()

                      Date  interest_rate
count                 3289    3289.000000
mean   2020-02-14 00:00:00       1.769760
min    2015-08-15 00:00:00       0.040000
25%    2017-11-14 00:00:00       0.140000
50%    2020-02-14 00:00:00       1.160000
75%    2022-05-16 00:00:00       2.400000
max    2024-08-15 00:00:00       5.330000
std                    NaN       1.815044

### preprocess exogenous variables - NASDAQ

In [33]:
NASDAQ.head()

         Date      Price
0  03/12/2025  17,648.45
1  03/11/2025  17,436.10
2  03/10/2025  17,468.32
3  03/07/2025  18,196.22
4  03/06/2025  18,069.26

In [31]:
# drop unwanted columns
NASDAQ.drop(columns=['Open', 'High', 'Low', 'Vol.', 'Change %'], inplace=True)

In [32]:
# check for missing values
missing_NASDAQ = NASDAQ.isnull().any().any()
print(f"Are there any missing values? {missing_NASDAQ}")

Are there any missing values? False

In [34]:
# rename columns
NASDAQ.rename(columns={'Price': 'NASDAQ_Price'}, inplace=True)

In [38]:
NASDAQ.dtypes

Date            datetime64[ns]
NASDAQ_Price           float64
dtype: object

In [37]:
# convert data types
NASDAQ['Date'] = pd.to_datetime(NASDAQ['Date'])
NASDAQ['NASDAQ_Price'] = NASDAQ['NASDAQ_Price'].str.replace(',', '').astype(float)

In [39]:
# add missing dates between starting date and end date

NASDAQ.set_index('Date', inplace=True)

# Create a complete date range from the minimum to maximum date in the dataset
all_dates = pd.date_range(start=NASDAQ.index.min(), end=NASDAQ.index.max())

# Reindex the DataFrame to include all dates, filling missing dates with NaN
NASDAQ = NASDAQ.reindex(all_dates)

# Forward-fill missing 'Price' values without using 'inplace'
NASDAQ['NASDAQ_Price'] = NASDAQ['NASDAQ_Price'].ffill()

# Reset the index to make 'Date' a column again
NASDAQ.reset_index(inplace=True)
NASDAQ.rename(columns={'index': 'Date'}, inplace=True)

In [40]:
# remove unwanted dates
NASDAQ = NASDAQ[(NASDAQ['Date'] >= start_date) & (NASDAQ['Date'] <= end_date)]

In [41]:
# NASDAQ.dtypes
NASDAQ.describe()

                      Date  NASDAQ_Price
count                 3289   3289.000000
mean   2020-02-14 00:00:00   9825.398303
min    2015-08-15 00:00:00   4266.840000
25%    2017-11-14 00:00:00   6701.260000
50%    2020-02-14 00:00:00   8734.880000
75%    2022-05-16 00:00:00  13259.140000
max    2024-08-15 00:00:00  18647.450000
std                    NaN   3740.739440

### preprocess exogenous variables - SP_500

In [47]:
SP_500.head()

         Date SP_500_Price
0  03/12/2025     5,599.30
1  03/11/2025     5,572.07
2  03/10/2025     5,614.56
3  03/07/2025     5,770.20
4  03/06/2025     5,738.52

In [43]:
# preprocess SP_500
# drop unwanted columns
SP_500.drop(columns=['Open', 'High', 'Low', 'Vol.', 'Change %'], inplace=True)

In [44]:
# check for missing values
missing_SP_500 = SP_500.isnull().any().any()
print(f"Are there any missing values? {missing_SP_500}")

Are there any missing values? False

In [46]:
# rename columns
SP_500.rename(columns={'Price': 'SP_500_Price'}, inplace=True)

In [48]:
# convert data types
SP_500['Date'] = pd.to_datetime(SP_500['Date'])
SP_500['SP_500_Price'] = SP_500['SP_500_Price'].str.replace(',', '').astype(float)

In [50]:
# add missing dates between starting date and end date

SP_500.set_index('Date', inplace=True)

# Create a complete date range from the minimum to maximum date in the dataset
all_dates = pd.date_range(start=SP_500.index.min(), end=SP_500.index.max())

# Reindex the DataFrame to include all dates, filling missing dates with NaN
SP_500 = SP_500.reindex(all_dates)

# Forward-fill missing 'Price' values without using 'inplace'
SP_500['SP_500_Price'] = SP_500['SP_500_Price'].ffill()

# Reset the index to make 'Date' a column again
SP_500.reset_index(inplace=True)
SP_500.rename(columns={'index': 'Date'}, inplace=True)

In [51]:
# remove unwanted dates
SP_500 = SP_500[(SP_500['Date'] >= start_date) & (SP_500['Date'] <= end_date)]

### preprocess exogenous variables - us_10_year_bond_yield

In [69]:
us_10_year_bond_yield.head()

          Date  us_10_year_bond_yield
226 2015-08-15                  2.201
227 2015-08-16                  2.201
228 2015-08-17                  2.170
229 2015-08-18                  2.192
230 2015-08-19                  2.129

In [54]:
# drop unwanted columns
us_10_year_bond_yield.drop(columns=['Open', 'High', 'Low', 'Change %'], inplace=True)

In [55]:
# check for missing values
missing_us_10_year_bond_yield = us_10_year_bond_yield.isnull().any().any()
print(f"Are there any missing values? {missing_us_10_year_bond_yield}")

Are there any missing values? False

In [61]:
# rename columns
us_10_year_bond_yield.rename(columns={'Price': 'us_10_year_bond_yield'}, inplace=True)

In [65]:
us_10_year_bond_yield.dtypes

Date                     datetime64[ns]
us_10_year_bond_yield           float64
dtype: object

In [64]:
# convert data types
us_10_year_bond_yield['Date'] = pd.to_datetime(us_10_year_bond_yield['Date'])

In [66]:
# add missing dates between starting date and end date

us_10_year_bond_yield.set_index('Date', inplace=True)

# Create a complete date range from the minimum to maximum date in the dataset
all_dates = pd.date_range(start=us_10_year_bond_yield.index.min(), end=us_10_year_bond_yield.index.max())

# Reindex the DataFrame to include all dates, filling missing dates with NaN
us_10_year_bond_yield = us_10_year_bond_yield.reindex(all_dates)

# Forward-fill missing 'Price' values without using 'inplace'
us_10_year_bond_yield['us_10_year_bond_yield'] = us_10_year_bond_yield['us_10_year_bond_yield'].ffill()

# Reset the index to make 'Date' a column again
us_10_year_bond_yield.reset_index(inplace=True)
us_10_year_bond_yield.rename(columns={'index': 'Date'}, inplace=True)

In [ ]:
# remove unwanted dates
us_10_year_bond_yield = us_10_year_bond_yield[(us_10_year_bond_yield['Date'] >= start_date) & (us_10_year_bond_yield['Date'] <= end_date)]

### preprocess exogenous variables - us_dollar_index

In [75]:
us_dollar_index.head()

         Date  us_dollar_index
0  03/13/2025          103.630
1  03/12/2025          103.587
2  03/11/2025          103.273
3  03/10/2025          103.953
4  03/07/2025          103.812

In [72]:
# drop unwanted columns
us_dollar_index.drop(columns=['Open', 'High', 'Low', 'Vol.', 'Change %'], inplace=True)

In [73]:
# check for missing values
missing_us_dollar_index = us_dollar_index.isnull().any().any()
print(f"Are there any missing values? {missing_us_dollar_index}")

Are there any missing values? False

In [ ]:
# rename columns
us_dollar_index.rename(columns={'Price': 'us_dollar_index'}, inplace=True)

In [78]:
us_dollar_index.dtypes

Date               datetime64[ns]
us_dollar_index           float64
dtype: object

In [77]:
# convert data types
us_dollar_index['Date'] = pd.to_datetime(us_dollar_index['Date'])

In [79]:
# add missing dates between starting date and end date

us_dollar_index.set_index('Date', inplace=True)

# Create a complete date range from the minimum to maximum date in the dataset
all_dates = pd.date_range(start=us_dollar_index.index.min(), end=us_dollar_index.index.max())

# Reindex the DataFrame to include all dates, filling missing dates with NaN
us_dollar_index = us_dollar_index.reindex(all_dates)

# Forward-fill missing 'Price' values without using 'inplace'
us_dollar_index['us_dollar_index'] = us_dollar_index['us_dollar_index'].ffill()

# Reset the index to make 'Date' a column again
us_dollar_index.reset_index(inplace=True)
us_dollar_index.rename(columns={'index': 'Date'}, inplace=True)

In [80]:
# remove unwanted dates
us_dollar_index = us_dollar_index[(us_dollar_index['Date'] >= start_date) & (us_dollar_index['Date'] <= end_date)]

### preprocess exogenous variables - usdt

In [89]:
usdt.head()

         Date  usdt_Price
0  2025-03-12    1.001085
1  2025-03-11    1.000980
2  2025-03-10    1.001215
3  2025-03-09    1.001300
4  2025-03-08    1.001505

In [85]:
# drop unwanted columns
usdt.drop(columns=['End', 'Open', 'High', 'Low', 'Volume', 'Market Cap'], inplace=True)

In [87]:
# check for missing values
missing_usdt = usdt.isnull().any().any()
print(f"Are there any missing values? {missing_usdt}")

Are there any missing values? False

In [88]:
# rename columns
usdt.rename(columns={'Start': 'Date', 'Close': 'usdt_Price'}, inplace=True)

In [90]:
usdt.dtypes

Date           object
usdt_Price    float64
dtype: object

In [91]:
# convert data types
usdt['Date'] = pd.to_datetime(usdt['Date'])

In [92]:
# add missing dates between starting date and end date

usdt.set_index('Date', inplace=True)

# Create a complete date range from the minimum to maximum date in the dataset
all_dates = pd.date_range(start=usdt.index.min(), end=usdt.index.max())

# Reindex the DataFrame to include all dates, filling missing dates with NaN
usdt = usdt.reindex(all_dates)

# Forward-fill missing 'Price' values without using 'inplace'
usdt['usdt_Price'] = usdt['usdt_Price'].ffill()

# Reset the index to make 'Date' a column again
usdt.reset_index(inplace=True)
usdt.rename(columns={'index': 'Date'}, inplace=True)

In [93]:
# remove unwanted dates
usdt = usdt[(usdt['Date'] >= start_date) & (usdt['Date'] <= end_date)]

In [94]:
# usdt.dtypes
usdt.describe()

                      Date   usdt_Price
count                 3289  3289.000000
mean   2020-02-14 00:00:00     1.000748
min    2015-08-15 00:00:00     0.913823
25%    2017-11-14 00:00:00     0.999870
50%    2020-02-14 00:00:00     1.000067
75%    2022-05-16 00:00:00     1.000905
max    2024-08-15 00:00:00     1.328150
std                    NaN     0.012188

### preprocess exogenous variables - VIX

In [108]:
vix.tail()

           Date  vix_value
3509 2024-08-11      20.37
3510 2024-08-12      20.71
3511 2024-08-13      18.12
3512 2024-08-14      16.19
3513 2024-08-15      15.23

In [96]:
# drop unwanted columns
vix.drop(columns=['Open', 'High', 'Low', 'Vol.', 'Change %'], inplace=True)

In [98]:
# check for missing values
missing_vix = vix.isnull().any().any()
print(f"Are there any missing values? {missing_vix}")

Are there any missing values? False

In [99]:
# rename columns
vix.rename(columns={'Price': 'vix_value'}, inplace=True)

In [101]:
vix.dtypes

Date          object
vix_value    float64
dtype: object

In [102]:
# convert data types
vix['Date'] = pd.to_datetime(vix['Date'])

In [103]:
# add missing dates between starting date and end date

vix.set_index('Date', inplace=True)

# Create a complete date range from the minimum to maximum date in the dataset
all_dates = pd.date_range(start=vix.index.min(), end=vix.index.max())

# Reindex the DataFrame to include all dates, filling missing dates with NaN
vix = vix.reindex(all_dates)

# Forward-fill missing 'Price' values without using 'inplace'
vix['vix_value'] = vix['vix_value'].ffill()

# Reset the index to make 'Date' a column again
vix.reset_index(inplace=True)
vix.rename(columns={'index': 'Date'}, inplace=True)

In [106]:
# remove unwanted dates
vix = vix[(vix['Date'] >= start_date) & (vix['Date'] <= end_date)]

In [109]:
vix.describe()

                      Date    vix_value
count                 3289  3289.000000
mean   2020-02-14 00:00:00    18.447017
min    2015-08-15 00:00:00     9.140000
25%    2017-11-14 00:00:00    13.200000
50%    2020-02-14 00:00:00    16.480000
75%    2022-05-16 00:00:00    21.700000
max    2024-08-15 00:00:00    82.690000
std                    NaN     7.474914

### combine all exogenous variables into one

In [131]:
# gold.head()
# index_global_real_economy.head()
# interest_rate.head()
# NASDAQ.head()
# SP_500.head()
# us_10_year_bond_yield.head()
# us_dollar_index.head()
# usdt.head()
# vix.head()

          Date  vix_value
225 2015-08-15      12.83
226 2015-08-16      12.83
227 2015-08-17      13.02
228 2015-08-18      13.79
229 2015-08-19      15.25

In [121]:
# List of all DataFrames
dfs = [gold, index_global_real_economy, interest_rate, NASDAQ, SP_500, 
       us_10_year_bond_yield, us_dollar_index, usdt, vix]

# Ensure 'Date' column is in datetime format for all DataFrames
for df in dfs:
    df['Date'] = pd.to_datetime(df['Date'])

# Start merging with the first DataFrame
exogenous_variables = dfs[0]

# Merge all DataFrames on 'Date'
for df in dfs[1:]:
    exogenous_variables = exogenous_variables.merge(df, on='Date', how='outer')  # Use 'inner' if you want only matching dates

In [134]:
exogenous_variables.dtypes

Date                     datetime64[ns]
Gold_Price                      float64
IGREA                           float64
interest_rate                   float64
NASDAQ_Price                    float64
SP_500_Price                    float64
us_10_year_bond_yield           float64
us_dollar_index                 float64
usdt_Price                      float64
vix_value                       float64
dtype: object

In [135]:
# save as s csv file
exogenous_variables.to_csv("../datasets/preprocesed/exogenous_variables.csv", index=False)

### Data Preprocess Cryptocurrency Data

In [136]:
# crypto datasets
bitcoin = pd.read_csv('../datasets/crypto/bitcoin.csv') #2015-1-1
ethereum = pd.read_csv('../datasets/crypto/ethereum.csv') #2015-08-11
ripple = pd.read_csv('../datasets/crypto/ripple.csv') #2015-1-1

#### Preproces Bitcoin data

In [152]:
bitcoin.tail()

           Date  BTC_Price  BTC_Market_Cap
3510 2024-08-11   58819.99    1.192445e+12
3511 2024-08-12   59342.02    1.164230e+12
3512 2024-08-13   60565.01    1.178382e+12
3513 2024-08-14   58730.93    1.186805e+12
3514 2024-08-15   57600.00    1.152324e+12

In [138]:
# drop unwanted columns
bitcoin.drop(columns=['Open', 'High', 'Low', 'Volume', 'End'], inplace=True)

In [140]:
# check for missing values
missing_bitcoin = bitcoin.isnull().any().any()
print(f"Are there any missing values? {missing_bitcoin}")

Are there any missing values? False

In [142]:
# rename columns
# bitcoin.rename(columns={'Close': 'BTC_Price', 'Start': 'Date'}, inplace=True)
bitcoin.rename(columns={'Market Cap': 'BTC_Market_Cap'}, inplace=True)

In [144]:
bitcoin.dtypes

Date               object
BTC_Price         float64
BTC_Market_Cap    float64
dtype: object

In [145]:
# convert data types
bitcoin['Date'] = pd.to_datetime(bitcoin['Date'])

In [146]:
# add missing dates between starting date and end date

bitcoin.set_index('Date', inplace=True)

# Create a complete date range from the minimum to maximum date in the dataset
all_dates = pd.date_range(start=bitcoin.index.min(), end=bitcoin.index.max())

# Reindex the DataFrame to include all dates, filling missing dates with NaN
bitcoin = bitcoin.reindex(all_dates)

# Forward-fill missing 'Price' values without using 'inplace'
bitcoin['BTC_Price'] = bitcoin['BTC_Price'].ffill()
bitcoin['BTC_Market_Cap'] = bitcoin['BTC_Market_Cap'].ffill()

# Reset the index to make 'Date' a column again
bitcoin.reset_index(inplace=True)
bitcoin.rename(columns={'index': 'Date'}, inplace=True)

In [149]:
# remove unwanted dates
bitcoin = bitcoin[(bitcoin['Date'] >= start_date) & (bitcoin['Date'] <= end_date)]

In [153]:
bitcoin.describe()

                      Date     BTC_Price  BTC_Market_Cap
count                 3289   3289.000000    3.289000e+03
mean   2020-02-14 00:00:00  19168.928429    3.622681e+11
min    2015-08-15 00:00:00    211.394000    3.117026e+09
25%    2017-11-14 00:00:00   3894.620254    6.767426e+10
50%    2020-02-14 00:00:00  10080.086121    1.792287e+11
75%    2022-05-16 00:00:00  30275.680000    5.838799e+11
max    2024-08-15 00:00:00  73087.950000    1.428410e+12
std                    NaN  19438.164809    3.768419e+11

#### Preprocess ETH Data

In [160]:
ethereum.head()

         Date  ETH_Price  ETH_Market_Cap
0  2025-03-12  1911.4398    2.283619e+11
1  2025-03-11  1923.0712    2.296047e+11
2  2025-03-10  1880.7466    2.431780e+11
3  2025-03-09  2019.9403    2.565632e+11
4  2025-03-08  2202.5575    2.615796e+11

In [155]:
# drop unwanted columns
ethereum.drop(columns=['Open', 'High', 'Low', 'Volume', 'End'], inplace=True)

In [156]:
# check for missing values
missing_ethereum = ethereum.isnull().any().any()
print(f"Are there any missing values? {missing_ethereum}")

Are there any missing values? False

In [159]:
ethereum.rename(columns={'Close': 'ETH_Price', 'Start': 'Date', 'Market Cap': 'ETH_Market_Cap'}, inplace=True)

In [161]:
# convert data types
ethereum['Date'] = pd.to_datetime(ethereum['Date'])

In [162]:
# add missing dates between starting date and end date

ethereum.set_index('Date', inplace=True)

# Create a complete date range from the minimum to maximum date in the dataset
all_dates = pd.date_range(start=ethereum.index.min(), end=ethereum.index.max())

# Reindex the DataFrame to include all dates, filling missing dates with NaN
ethereum = ethereum.reindex(all_dates)

# Forward-fill missing 'Price' values without using 'inplace'
ethereum['ETH_Price'] = ethereum['ETH_Price'].ffill()
ethereum['ETH_Market_Cap'] = ethereum['ETH_Market_Cap'].ffill()

# Reset the index to make 'Date' a column again
ethereum.reset_index(inplace=True)
ethereum.rename(columns={'index': 'Date'}, inplace=True)

In [163]:
# remove unwanted dates
ethereum = ethereum[(ethereum['Date'] >= start_date) & (ethereum['Date'] <= end_date)]

In [170]:
ethereum.describe()

                      Date    ETH_Price  ETH_Market_Cap
count                 3289  3289.000000    3.289000e+03
mean   2020-02-14 00:00:00  1081.246413    1.267416e+11
min    2015-08-15 00:00:00     0.438570    3.254149e+07
25%    2017-11-14 00:00:00   144.412548    1.560458e+10
50%    2020-02-14 00:00:00   401.774061    4.357811e+10
75%    2022-05-16 00:00:00  1841.841588    2.212046e+11
max    2024-08-15 00:00:00  4819.161294    5.669263e+11
std                    NaN  1200.340879    1.440143e+11

Preprocess XRP Data

In [171]:
ripple.tail()

            Date  XRP_Price  XRP_Market_Cap
3719  2015-01-05   0.020305    6.032247e+08
3720  2015-01-04   0.018930    6.302048e+08
3721  2015-01-03   0.022181    7.274643e+08
3722  2015-01-02   0.024323    7.545424e+08
3723  2015-01-01   0.024383    7.537143e+08

In [167]:
# drop unwanted columns
ripple.drop(columns=['Open', 'High', 'Low', 'Volume', 'End'], inplace=True)

In [169]:
ripple.rename(columns={'Close': 'XRP_Price', 'Start': 'Date', 'Market Cap': 'XRP_Market_Cap'}, inplace=True)

In [172]:
# convert data types
ripple['Date'] = pd.to_datetime(ripple['Date'])

In [173]:
# add missing dates between starting date and end date

ripple.set_index('Date', inplace=True)

# Create a complete date range from the minimum to maximum date in the dataset
all_dates = pd.date_range(start=ripple.index.min(), end=ripple.index.max())

# Reindex the DataFrame to include all dates, filling missing dates with NaN
ripple = ripple.reindex(all_dates)

# Forward-fill missing 'Price' values without using 'inplace'
ripple['XRP_Price'] = ripple['XRP_Price'].ffill()
ripple['XRP_Market_Cap'] = ripple['XRP_Market_Cap'].ffill()

# Reset the index to make 'Date' a column again
ripple.reset_index(inplace=True)
ripple.rename(columns={'index': 'Date'}, inplace=True)

In [174]:
# remove unwanted dates
ripple = ripple[(ripple['Date'] >= start_date) & (ripple['Date'] <= end_date)]

In [175]:
ripple.describe()

                      Date    XRP_Price  XRP_Market_Cap
count                 3289  3289.000000    3.289000e+03
mean   2020-02-14 00:00:00     0.409920    1.850827e+10
min    2015-08-15 00:00:00     0.004090    1.373416e+08
25%    2017-11-14 00:00:00     0.201855    8.373756e+09
50%    2020-02-14 00:00:00     0.353549    1.555872e+10
75%    2022-05-16 00:00:00     0.546523    2.750840e+10
max    2024-08-15 00:00:00     3.359538    1.373512e+11
std                    NaN     0.352647    1.541585e+10

In [176]:
# List of all DataFrames
dfs = [bitcoin, ethereum, ripple]

# Ensure 'Date' column is in datetime format for all DataFrames
for df in dfs:
    df['Date'] = pd.to_datetime(df['Date'])

# Start merging with the first DataFrame
cryptocurrencies = dfs[0]

# Merge all DataFrames on 'Date'
for df in dfs[1:]:
    cryptocurrencies = cryptocurrencies.merge(df, on='Date', how='outer')  # Use 'inner' if you want only matching dates

In [181]:
cryptocurrencies.describe()

,Date,BTC_Price,BTC_Market_Cap,ETH_Price,ETH_Market_Cap,XRP_Price,XRP_Market_Cap
count,3289,3289.000000,3.289000e+03,3289.000000,3.289000e+03,3289.000000,3.289000e+03
mean,2020-02-14 00:00:00,19168.928429,3.622681e+11,1081.246413,1.267416e+11,0.409920,1.850827e+10
min,2015-08-15 00:00:00,211.394000,3.117026e+09,0.438570,3.254149e+07,0.004090,1.373416e+08
25%,2017-11-14 00:00:00,3894.620254,6.767426e+10,144.412548,1.560458e+10,0.201855,8.373756e+09
50%,2020-02-14 00:00:00,10080.086121,1.792287e+11,401.774061,4.357811e+10,0.353549,1.555872e+10
75%,2022-05-16 00:00:00,30275.680000,5.838799e+11,1841.841588,2.212046e+11,0.546523,2.750840e+10
max,2024-08-15 00:00:00,73087.950000,1.428410e+12,4819.161294,5.669263e+11,3.359538,1.373512e+11
std,NaN,19438.164809,3.768419e+11,1200.340879,1.440143e+11,0.352647,1.541585e+10

In [180]:
# save as s csv file
cryptocurrencies.to_csv("../datasets/preprocesed/cryptocurrencies.csv", index=False)