In [1]:
# download eth, xrp, sol data
import yfinance as yf
import pandas as pd

In [2]:
# download btc historical data
start_date = "2019-08-01"
end_date = "2024-09-01"
bitcoin_data = yf.download("BTC-USD", start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 completed

In [5]:
bitcoin_data.head()

Price,Close,High,Low,Open,Volume
Date,,,,,
2019-08-01,10399.668945,10446.919922,9922.019531,10077.442383,17165337858
2019-08-02,10518.174805,10657.953125,10371.013672,10402.042969,17489094082
2019-08-03,10821.726562,10946.781250,10503.504883,10519.278320,15352685061
2019-08-04,10970.184570,11009.207031,10620.278320,10821.632812,16530894787
2019-08-05,11805.653320,11895.091797,10960.735352,10960.735352,23875988832

In [4]:
bitcoin_data.columns = bitcoin_data.columns.droplevel(1)

In [6]:
# check for missing values
bitcoin_data_missing = bitcoin_data.isnull().any().any()
print(f"Are there any missing values? {bitcoin_data_missing}")

Are there any missing values? False

In [8]:
bitcoin_data.rename(columns={'Close': 'BTC_Close', 'High':'BTC_High', 'Low':'BTC_Low', 'Open':'BTC_Open','Volume':'BTC_Volume'}, inplace=True)

In [9]:
bitcoin_data.to_csv('btc_data.csv')

In [10]:
btc_data = pd.read_csv('btc_data.csv')

In [24]:
btc_data.head()

,Date,BTC_Close,BTC_High,BTC_Low,BTC_Open,BTC_Volume
27,2019-08-28,9754.422852,10279.366211,9716.656250,10203.426758,17603790323
28,2019-08-29,9510.200195,9756.786133,9421.629883,9756.786133,17045878501
29,2019-08-30,9598.173828,9656.124023,9428.302734,9514.844727,13595263986
30,2019-08-31,9630.664062,9673.220703,9531.799805,9597.539062,11454806419
31,2019-09-01,9757.970703,9796.755859,9582.944336,9630.592773,11445355859

In [15]:
# 2019-08-28 - start
# 2024-08-24 - end
start_date = '2024-08-24'
end_date = '2024-08-31'

btc_data = btc_data[~btc_data['Date'].between(start_date, end_date)]

In [ ]:
# remove unwanted dates - tail
start_date = '2024-08-24'
end_date = '2024-08-31'

btc_data = btc_data[~btc_data['Date'].between(start_date, end_date)]

In [25]:
gold_data = pd.read_csv('Gold_Preprocessed.csv')

In [32]:
gold_data.tail()

            Date  Gold_Price
3510  2024-08-19   2504.2071
3511  2024-08-20   2514.0630
3512  2024-08-21   2512.3987
3513  2024-08-22   2487.0611
3514  2024-08-23   2512.4492

In [27]:
# 2015-01-09 - start
# 2019-08-28 - end
start_date = '2015-01-09'
end_date = '2019-08-27'

gold_data = gold_data[~gold_data['Date'].between(start_date, end_date)]

In [31]:
# 2015-01-09 - start
# 2019-08-28 - end
start_date = '2024-08-24'
end_date = '2025-01-09'

gold_data = gold_data[~gold_data['Date'].between(start_date, end_date)]

In [33]:
interest_rate = pd.read_csv('Interest_Rate_Preprocessed.csv')

In [39]:
interest_rate.tail()

            Date  Interest_Rate
3510  2024-08-19           5.33
3511  2024-08-20           5.33
3512  2024-08-21           5.33
3513  2024-08-22           5.33
3514  2024-08-23           5.33

In [35]:
# 2015-01-09 - start
# 2019-08-28 - end
start_date = '2015-01-09'
end_date = '2019-08-27'

interest_rate = interest_rate[~interest_rate['Date'].between(start_date, end_date)]

In [38]:
start_date = '2024-08-24'
end_date = '2025-01-09'

interest_rate = interest_rate[~interest_rate['Date'].between(start_date, end_date)]

In [40]:
vix_data = pd.read_csv('VIX_Data_Preprocessed.csv')

In [44]:
vix_data.tail()

            Date  VIX_Value
3649  2025-01-05      16.13
3650  2025-01-06      16.04
3651  2025-01-07      17.82
3652  2025-01-08      17.70
3653  2025-01-09      18.07

In [42]:
start_date = '2015-01-09'
end_date = '2019-08-27'

vix_data = vix_data[~vix_data['Date'].between(start_date, end_date)]

In [45]:
start_date = '2024-08-24'
end_date = '2025-01-09'

vix_data = vix_data[~vix_data['Date'].between(start_date, end_date)]

In [48]:
Merged_Not_Scaled_df = btc_data.merge(gold_data, on="Date", how="outer") \
                        .merge(interest_rate, on="Date", how="outer") \
                        .merge(vix_data, on="Date", how="outer")

In [49]:
Merged_Not_Scaled_df.head()

,Date,BTC_Close,BTC_High,BTC_Low,BTC_Open,BTC_Volume,Gold_Price,Interest_Rate,VIX_Value
0,2019-08-28,9754.422852,10279.366211,9716.656250,10203.426758,17603790323,1541.75,2.12,19.35
1,2019-08-29,9510.200195,9756.786133,9421.629883,9756.786133,17045878501,1536.65,2.12,17.88
2,2019-08-30,9598.173828,9656.124023,9428.302734,9514.844727,13595263986,1526.55,2.13,18.98
3,2019-08-31,9630.664062,9673.220703,9531.799805,9597.539062,11454806419,1526.55,2.13,18.98
4,2019-09-01,9757.970703,9796.755859,9582.944336,9630.592773,11445355859,1526.55,2.13,18.98

In [50]:
Merged_Not_Scaled_df.to_csv('LSTM_dataset.csv')